/*******************************
BODY
********************************/

body {
  margin: 0;
  padding: 0;
  background: url("../images/Plaid_5_by_fairybliss.png");
}

header {
  background-color: rgba(39, 21, 52, 0.8);
  height: 10%;
}

header img {
  margin-top: 5%;
  margin-left: 10%;
  width: 75%;
  border-radius: 100%;
  border: .4em solid #000000;
}

h1 {
  font-family: 'Calligraffitti', cursive;
  font-size: 3.4em;
  letter-spacing: .2em;
  font-weight: bold;
  color: #000000;
  margin-top: 10%;
}

.contact {
  margin-top: 2%;
}

.contact a {
  font-size: 3.4em;
  line-height: 1.6em;
  padding: 5%;
}

.contact i:hover {
  color: rgb(6, 173, 203);
}

/*******************************
FADE IN KEYFRAME
********************************/

/* .site-center {
  opacity: 0;
    -webkit-animation: fade-in 5s ease-in 1;
    -moz-animation: fade-in 5s ease-in 1;
    -o-animation: fade-in 5s ease-in 1;
    animation: fade-in 5s ease-in 1;
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.site-center {
  opacity: 1;
} */

/******************************/

.site-center {
  background-color: rgba(39, 21, 52, 0.8);
  margin-top: 15%;
  height: 50%;
  -webkit-box-shadow: 10px 10px 15px 0px #191919;
  -moz-box-shadow: 10px 10px 15px 0px #191919;
  box-shadow: 10px 10px 15px 0px #191919;
  overflow: scroll;
}

.panel-body {
  height: 20%;
  overflow: scroll;
}

.panel-body a {
  color: rgb(39, 21, 52);
}

.panel-group {
  margin-top: 5%;
}

h4 {
  font-family: 'Calligraffitti', cursive;
}

body p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  color: rgb(39, 21, 52);
}

body ul {
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: square;
  font-size: 1em;
}

.panel-default > .panel-heading {
  background-color: rgba(6, 173, 203, 0.6);
}

.panel-default {
border-color: rgb(6, 173, 203);
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
border-top-color: rgb(6, 173, 203);
}

.panel-title {
  color: rgb(39, 21, 52);
}

.panel-heading a:focus {
  text-decoration: none;
}

.panel-heading a:hover {
  text-decoration: none;
}

.rec-body :first-child {
  margin-bottom: 0;
}

.sub-rec {
  margin-top: 5%;
}

.rec-info {
  text-align: right;
  font-style: italic;
}

.social {
  a {
    font-size: 3.8em;
    line-height: 1.8em;
  }
}

.social .fa, .contact .fa {
  color: #FFFFFF;
}

footer p {
  margin: 2% 15% 2% 15%;
  color: #FFFFFF;
}

/*******************************
ROTATE TRANSITION
********************************/
.rotate {
  display: inline-block;
}

.rotate:hover {
  cursor: none;
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.rotate {
    -webkit-animation: rotateZ(-30deg) 2s ease-in 1;
    -moz-animation: rotateZ(-30deg) 2s ease-in 1;
    -o-animation: rotateZ(-30deg) 2s ease-in 1;
    animation: rotateZ(-30deg) 2s ease-in 1;
}

/*******************************
MEDIA QUERIES
********************************/
/*******************************
768PX RESPONSIVE
*******************************/

@media screen and (min-width: 768px) and (max-width: 991px){}

@media screen and (max-width: 768px) {
  .social {
    a {
      font-size: 2.8em;
      line-height: 1.4em;
    }
  }
}

/*******************************
600PX RESPONSIVE
*******************************/

@media screen and (min-width: 600px) and (max-width: 767px){}

@media screen and (max-width: 650px) {
  .social {
    padding-top: 3%;
    a {
      font-size: 1.2em;
      line-height: 1.2em;
    }
  }
}

/*******************************
480PX RESPONSIVE
*******************************/

@media screen and (min-width: 480px) and (max-width: 599px){}

@media screen and (max-width: 420px) {
  .social {
    padding-top: 2%;
    a {
      font-size: 2em;
      line-height: 1.2em;
    }
  }
}

/*******************************
320PX RESPONSIVE
*******************************/

@media screen and (max-width: 320px) {
  h1 {
    font-size: 3em;
    letter-spacing: .05em;
    margin-top: 15%;
    padding-left: 25%;
  }

  header {
    height: 25%;
  }

  .contact {
    margin-bottom: 5%;
  }

  .contact a {
    font-size: 2em;
    line-height: 1.2em;
    padding: 0 5% 0 5%;
  }

  .site-center {
    margin-top: 10%;
    height: 35%;
  }

  .panel-body {
    height: 25em;
  }

  .social {
    padding-top: 1%;
    a {
      font-size: 1.8em;
      line-height: 1.1em;
    }
  }

  footer p {
    padding-top: 2%;
  }
}
