/*******************************
320PX RESPONSIVE MEDIA QUERY
*******************************/
@media screen and (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    background: url("../images/Plaid_5_by_fairybliss.png"); }
  header {
    background-color: rgba(39, 21, 52, 0.8);
    height: 10%; }
    header img {
      margin-top: 2%;
      width: 100%;
      border-radius: 100%;
      border: .4em solid #000000; }
  h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 3em;
    letter-spacing: .1em;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 5%;
    padding-left: 12%;
    padding-right: 12%; }
  .contact {
    margin-bottom: 5%; }
  .contact a {
    font-family: 'Calligraffitti', cursive;
    color: #06adcb;
    font-size: 2em;
    padding: 6%; }
  .contact a:hover {
    color: #86C977;
    text-decoration: none; }
  .contact .fa {
    padding-right: 5%; }
  .site-center {
    background-color: rgba(39, 21, 52, 0.8);
    margin-top: 3%;
    height: 38em;
    -webkit-box-shadow: 10px 10px 15px 0px #191919;
    -moz-box-shadow: 10px 10px 15px 0px #191919;
    box-shadow: 10px 10px 15px 0px #191919;
    overflow: scroll; }
  .panel-heading a {
    display: inline-block;
    width: 100%; }
  h4 {
    font-family: 'Calligraffitti', cursive; }
  body p, body ul {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #271534; }
  body ul {
    list-style-type: square; }
  .contact > a:focus {
    text-decoration: none; }
  .panel-body a {
    color: #271534; }
  .panel-group {
    margin-top: 5%; }
  .panel-body {
    height: 20em;
    overflow: scroll; }
    .panel-body a {
      color: #06adcb; }
  .panel-default > .panel-heading {
    background-color: rgba(6, 173, 203, 0.6); }
  .panel-default {
    border-color: #06adcb; }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #06adcb; }
  .panel-title {
    color: #271534; }
  .panel-heading a:focus {
    text-decoration: none; }
  .panel-heading a:hover {
    text-decoration: none; }
  .sub-rec {
    margin-top: 10%; }
  .rec-info {
    text-align: right;
    font-style: italic; }
  .social {
    padding-top: 5%; }
    .social a {
      font-size: 3em;
      line-height: 1.6em;
      letter-spacing: .5em; }
    .social i:hover {
      color: #000000; }
  .social .fa {
    color: #FFFFFF; }
  footer p {
    font-size: 1.2em;
    padding-top: 2%;
    color: #FFFFFF; } }

/*******************************
360PX RESPONSIVE
*******************************/
@media screen and (min-width: 360px) {
  header img {
    width: 90%; } }

/*******************************
380PX RESPONSIVE
*******************************/
@media screen and (min-width: 360px) {
  .contact .fa {
    padding-right: 8%; } }

/*******************************
400PX RESPONSIVE
*******************************/
@media screen and (min-width: 400px) {
  header img {
    width: 85%; }
  .contact a {
    font-size: 2.2em; } }

/*******************************
440PX RESPONSIVE
*******************************/
@media screen and (min-width: 440px) {
  header img {
    width: 80%;
    margin-left: 10%; }
  h1 {
    padding-left: 25%;
    padding-right: 20%; }
  .contact a {
    font-size: 1.6em;
    padding: 5%; }
  .contact .fa {
    padding-right: 1%; } }

/*******************************
480PX RESPONSIVE
*******************************/
@media screen and (min-width: 480px) {
  header img {
    width: 75%;
    margin-left: 12.5%; }
  footer p {
    padding-left: 10%; } }

/*******************************
520PX RESPONSIVE
*******************************/
@media screen and (min-width: 520px) {
  header img {
    width: 70%;
    margin-left: 15%; }
  h1 {
    padding-left: 28%;
    padding-right: 13%; }
  .pdf {
    margin-left: 10%; } }

/*******************************
540PX RESPONSIVE
*******************************/
@media screen and (min-width: 540px) {
  body p, body ul {
    font-size: 1.1em; }
  .sub-rec {
    margin-top: 8%; }
  footer p {
    padding-left: 15%; } }

/*******************************
600PX RESPONSIVE
*******************************/
@media screen and (min-width: 600px) {
  header img {
    width: 65%;
    margin-left: 17.5%; }
  h1 {
    padding-left: 30%;
    padding-right: 12%; }
  .contact {
    margin-bottom: 2%; }
  body p, body ul {
    font-size: 1.2em; }
  .sub-rec {
    margin-top: 6%; } }

/*******************************
640PX RESPONSIVE
*******************************/
@media screen and (min-width: 640px) {
  header img {
    width: 60%;
    margin-left: 20%; }
  h1 {
    padding-left: 32%;
    padding-right: 10%;
    margin-top: 3%; }
  .contact {
    margin-bottom: 3%; }
  .contact a {
    font-size: 2.2em;
    padding: 2%; }
  .pdf {
    margin-left: 12%; }
  body p, body ul {
    font-size: 1.3em; }
  .sub-rec {
    margin-top: 4%; } }

/*******************************
700PX RESPONSIVE
*******************************/
@media screen and (min-width: 700px) {
  header img {
    width: 55%;
    margin-left: 22.5%; }
  h1 {
    font-size: 3.2em;
    letter-spacing: .1em;
    padding-left: 34%;
    padding-right: 10%;
    margin-top: 2%; }
  .pdf {
    margin-left: 14%; } }

/*******************************
768PX RESPONSIVE
*******************************/
@media screen and (min-width: 768px) {
  header {
    height: 5em; }
    header img {
      margin-top: 5%;
      width: 100%;
      margin-left: 0; }
  h1 {
    font-size: 2.5em;
    letter-spacing: .1em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 15%; }
  .pdf {
    margin-left: 0; }
  .contact {
    margin-top: 2%;
    margin-bottom: 0; }
  .contact a {
    font-size: 1.4em;
    padding: 4%; }
  .contact .fa {
    padding-right: 1%; }
  .site-center {
    background-color: rgba(39, 21, 52, 0.8);
    margin-top: 7%;
    height: 40em; }
  .panel-group {
    margin-top: 2%; }
  .panel-body {
    height: 22em; }
  .social {
    padding-top: 2%; }
  footer p {
    font-size: 1.4em;
    padding-left: 7%;
    margin-bottom: 0; } }

/*******************************
900PX RESPONSIVE
*******************************/
@media screen and (min-width: 900px) {
  header {
    height: 5.4em; }
  .contact a {
    font-size: 1.6em; }
  .site-center {
    margin-top: 6.5%; }
  .social {
    padding-top: 1%; }
  footer p {
    padding-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0; } }

/*******************************
1000PX RESPONSIVE
*******************************/
@media screen and (min-width: 1000px) {
  header {
    height: 5.8em; }
  h1 {
    font-size: 2.8em;
    letter-spacing: .1em;
    padding-left: 0;
    padding-right: 0;
    margin-top: 13%; }
  .contact a {
    font-size: 1.7em; }
  .site-center {
    height: 39em; }
  .panel-title {
    font-size: 1.2em;
    font-weight: bold; }
  footer p {
    padding-left: 9%; } }

/*******************************
1060PX RESPONSIVE
*******************************/
@media screen and (min-width: 1060px) {
  header {
    height: 6em; }
  .contact a {
    font-size: 1.8em; }
  .site-center {
    margin-top: 7%; }
  .site-center {
    height: 38em; }
  .panel-body {
    height: 21em; } }

/*******************************
1100PX RESPONSIVE
*******************************/
@media screen and (min-width: 1100px) {
  header {
    height: 6.3em; }
  h1 {
    font-size: 2.9em; }
  .contact a {
    font-size: 1.9em; }
  .site-center {
    margin-top: 7.5%; }
  .site-center {
    height: 37em; }
  .panel-body {
    height: 20em; }
  footer p {
    padding-left: 10%; } }

/*******************************
1160PX RESPONSIVE
*******************************/
@media screen and (min-width: 1160px) {
  header {
    height: 7.4em; }
  h1 {
    font-size: 3em; }
  .contact a {
    font-size: 2.2em; }
  .site-center {
    height: 36em; }
  .panel-body {
    height: 19em; }
  footer p {
    padding-left: 13%; } }

/*******************************
1240PX RESPONSIVE
*******************************/
@media screen and (min-width: 1240px) {
  h1 {
    font-size: 3em;
    letter-spacing: .1em;
    margin-top: 13%; }
  header {
    height: 7.8em; }
  h1 {
    font-size: 3.1em; }
  .site-center {
    height: 35em; }
  .panel-body {
    height: 18em; }
  footer p {
    padding-top: .5%; } }

/*******************************
1280PX RESPONSIVE
*******************************/
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.2em; }
  .site-center {
    height: 34em;
    margin-top: 7.5%; }
  .panel-body {
    height: 17em; }
  .social {
    padding-top: .5%; } }

/*******************************
1330PX RESPONSIVE
*******************************/
@media screen and (min-width: 1330px) {
  header {
    height: 8.5em; }
  .contact a {
    font-size: 2.4em; }
  .site-center {
    margin-top: 7.5%; } }

/*******************************
1400PX RESPONSIVE
*******************************/
@media screen and (min-width: 1400px) {
  header {
    height: 8.4em; }
  h1 {
    font-size: 3.4em; }
  .contact a {
    font-size: 2.6em; }
  footer p {
    font-size: 1.2em;
    padding-left: 16%; } }

/*******************************
1500PX RESPONSIVE
*******************************/
@media screen and (min-width: 1500px) {
  header img {
    width: 90%;
    margin-left: 5%; }
  header {
    height: 10em; }
  h1 {
    font-size: 3.6em;
    letter-spacing: .1em;
    margin-top: 13%; }
  .contact a {
    font-size: 2.8em; }
  .social a {
    font-size: 3em;
    line-height: 1.8em; } }

/*******************************
1600PX RESPONSIVE
*******************************/
@media screen and (min-width: 1600px) {
  header img {
    width: 80%;
    margin-left: 10%; }
  .contact a {
    font-size: 3em; } }

/*******************************
1700PX RESPONSIVE
*******************************/
@media screen and (min-width: 1700px) {
  h1 {
    font-size: 3.8em;
    letter-spacing: .1em;
    margin-top: 18%; }
  header {
    height: 11em; }
  .contact a {
    font-size: 3.2em; }
  .site-center {
    margin-top: 5%; } }

/*******************************
1830PX RESPONSIVE
*******************************/
@media screen and (min-width: 1830px) {
  header img {
    width: 75%;
    margin-left: 12.5%; }
  header {
    height: 12em; }
  h1 {
    font-size: 4em;
    letter-spacing: .1em;
    margin-top: 18%; }
  .contact a {
    font-size: 3.4em; } }

/*******************************
1920PX RESPONSIVE
*******************************/
@media screen and (min-width: 1920px) {
  header {
    height: 13em; }
  h1 {
    font-size: 4.2em; }
  .contact a {
    font-size: 3.6em; } }

/*******************************
2020PX RESPONSIVE
*******************************/
@media screen and (min-width: 2020px) {
  header {
    height: 14em; }
  h1 {
    font-size: 4.4em; }
  .contact a {
    font-size: 4em; } }
